@font-face {
  font-family: header;
  src: url("../rsc/OldeEnglish.ttf");
  src: url("../rsc/OldeEnglish.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-image: url("../imgs/background.png");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  font-family: sans-serif;
  font-size: 1em;
}
.nav-bar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.35);
}

.nav-bar button {
  width: 100%;
  background-color: Transparent;
  color: white;
  border-color: white;
  outline: none;
  cursor: pointer;
}

.nav-bar button:focus {
  border-color: #254DBC;
}

.nav-bar button:hover {
  border-color: #6D9EED;
  color: #6D9EED;
}

.background {
  background-color: rgba(0,0,0,0.38);
  width: 100%;
  display: table;
}

.ref-image {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  max-width: 100%;
  max-height: 20%;
}

img {
  display: block;
  max-width: 40%;
  max-height: 40%;
  width: auto;
  height: auto;

  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 100%;
  margin: auto;
  background-color: rgba(0,0,0,0.38);
}

.content h1 {
  font-family: header;
  font-weight: normal;
  font-size: 6em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #254DBC;
  margin-bottom: 10px;
}

.content h4 {
  color: #FCE94F;
  text-align: center;
}

.Home {

}

.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: left;
  color: white;

}
